<div class="container">
  <h2 *ngIf="freshpage">Jogo da Velha</h2>
  <h1 *ngIf="!ganhador && !empate && !freshpage">Vez do : {{ player }}</h1>
  <h2 *ngIf="ganhador">Jogador {{ ganhador }} ganhou!</h2>
  <h2 *ngIf="empate">VELHA !!</h2>
  <button (click)="novoJogo(false)">Novo Jogo</button>
  <button (click)="novoJogo(true)">Jogar x PC</button>


  <main *ngIf="!ganhador && !empate">
    <app-board
      *ngFor="let val of squares; let i = index"
      [value]="val"
      (click)="fazerJogada(i)"
    ></app-board>
  </main>
</div>
