.container {
  color: #374957;
  width: 100vw;
  height: 80vh;
  background: #02111c;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.texto1 {
  height: 200px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  border-radius: 30px;
  width: 500px;
  height: 500px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  margin: 0px;
}

form {
  line-height: 60px;
}

.texto2 {
  display: flex;
  align-items: center;
  height: 150px;
}

a{
  text-decoration: none;
}

input{
  border-top: none;
  border-left: none;
  border-right: none;
  border: 0 0;
  height: 35px;
  width: 300px;
  padding-left: 10px;

}
input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.btn {
  font-weight: bold;
  letter-spacing: 1px;
  background-color: #3ee6af;
  font-size: 18px;
  border: none;
  border-radius: 3px;
  height: 40px;
  width: 323px;
}

.btn:hover {
  background-color: #38d29f;
  transition: 0.2s;
}

header {
  color: #3ee6af;
  font-size: 60px;
  background-color:#02111c;
  height: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

